h1,
h2,
h3,
h5,
h6,
ul,
blockquote {
    color: #2A3166;
    text-align: center;
}
h4{
    color: #ffffff;
    text-align: center;
}
p{
    color: #ffffff;
    text-align: center;
}
.projectIndiv{
    margin: auto;
    text-align: center;
}
.serviceIndiv{
    margin: auto;
    text-align: center;
}
.container1 {
    background-color: #9ea9ff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.containerContact{
    background-color: #8e1e3d;
    padding:50px;
}
.containerProfilePic{
    background-color: #8e1e3d;
    padding: 50px;
}
.containerProject{
    background-color: #8e1e3d;
    padding:50px;
}
.containerServices{
    background-color: #8e1e3d;
    padding:50px;
}
hr {
    border-style:dashed;
    border-width: 10px;
}

table {
    border: 2px #2A3166;
    border-collapse: separate;
    margin: auto;
}

td,
th {
    padding: 0.5em;
    border: 2px #2A3166;
    text-align: center;
}

td {
    color: #ffffff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
tr{
    text-align: center;

}

