<%-include ("../_partial/_header.ejs")%>

    <h1>Welcome to The About Me page <img src="Assets\Images\logo.png" alt="logo" style="width:50px;height:50px;"></h1>
    <h3>Future Software Engineer</h3>
    <div class="containerProfilePic">
        <p style="font-size:120%;">Hi! This is me. My name is Harshpreet Kular, I am a student at Centennial
            College.<br> I am currently studing software engineering
            and so far its been pretty interesting. I enjoy playing video games <br>and sports, my favorite sport is
            Football(Soccer) and I support FC Barcelona.<br>
            <img src="Assets\Images\logo.png" alt="logo" style="width:50px;height:50px;">
            <img src="Assets\Images\ProfilePicture.jpg" alt="ProfilePicture"
                style="width:10%;height:10%; float:inline-end; margin-top: 15px; border-radius: 20px; ">
            <img src="Assets\Images\logo.png" alt="logo" style="width:50px;height:50px;">
        </p>
    </div>
    <%-include ("../_partial/_footer.ejs")%>