<%-include ("../_partial/_header.ejs")%>

   <h1>Welcome to The Contact Us page <img src="Assets\Images\logo.png" alt="logo" style="width:50px;height:50px;"></h1>

   <form action="/home">
      <div class="containerContact">
         <div class="row">
            <div class="col-sm" id="info">
               <p>Contact us using the following details:
                  <br>
                  <br>
                  <b><i class="material-icons" style="font-size:30px;color:#fff;">call</i>Phone Number:647-648-9495. <br><br><i class="material-icons" style="font-size:30px;color:#fff;">mail</i>Email:hkular1@my.centennialcollege.ca</b>
               </p>
            </div>
            <div class="col-sm" id="contactDiv">
               <input type="text" id="fname" name="fname" placeholder="First Name:">
               <input type="text" id="lname" name="lname" placeholder="Last Name"><br><br>
               <input type="email" id="email" name="email" placeholder="Email" size="45"><br><br>
               <textarea id="msg" name="msg" rows="4" cols="50">
                 Write your message here.
              </textarea>
               <br>
               <input type="submit" value="Submit">
            </div>
         </div>
      </div>
      </div>

   </form>

   <%-include ("../_partial/_footer.ejs")%>