<%-include ("../_partial/_header.ejs")%>

    <h1>Welcome to The Home Page! <img src ="Assets\Images\logo.png" alt="logo" style="width:50px;height:50px;"></h1>

    <div class="container">
        <h3>Spread Peace,Love, and Positvity through my work!</h3>
        <h5>Have a look around, see if you can find something you like!</h5>
    </div>

    <br>
    <div class="container1">
    <a href = "/home"><button type="button" class="btn btn-dark">Home</button></a>
    <a href = "/about"><button type="button" class="btn btn-dark">About me</button></a>    
    <a href = "/projects"><button type="button" class="btn btn-dark">Projects</button></a>
    <a href = "/services"><button type="button" class="btn btn-dark">Services</button></a>
    <a href = "/contact"><button type="button" class="btn btn-dark">Contact Us</button></a>
    </div>
<%-include ("../_partial/_footer.ejs")%>