<%-include ("../_partial/_header.ejs")%>

    <h1>Welcome to The Projects page <img src="Assets\Images\logo.png" alt="logo" style="width:50px;height:50px;"></h1>
    <h5>Here are some of the projects I have worked on/made</h5>
    <div class="containerProject">
        <div class="row">
            <div class="col-sm">
                <div class="projectIndiv">
                    <h1 style="color: #fff;">Project 1</h1>
                    <img src="Assets\images\realestatesite.png" alt="demo" style="height: 300px; width: auto;">
                    <h4>Simple Real Estate Site</h4>
                </div>
            </div>
            <div class="col-sm">
                <div class="projectIndiv">
                    <h1 style="color: #fff;">Project 2</h1>
                    <img src="Assets\images\ProtectedAreasSite.png" alt="demo" style="height: 300px; width: auto;">
                    <h4>A site I made with information on protected areas.</h4>
                </div>
            </div>
            <div class="col-sm">
                <div class="projectIndiv">
                    <h1 style="color: #fff;">Project 3</h1>
                    <img src="Assets\images\bmrcalc.png" alt="demo"  style="height: 300px; width: auto;">
                    <h4>A BMR Calculator</h4>
                </div>
            </div>
        </div>

    </div>

    <%-include ("../_partial/_footer.ejs")%>