<%-include ("../_partial/_header.ejs")%>

    <h1>Welcome to The Projects page <img src ="Assets\Images\logo.png" alt="logo" style="width:50px;height:50px;"></h1>
    <div class = "containerProject">
        <div class="row">
           <div class="col-sm" >
              <h1 style="color: #fff;">Project 1</h1>
              <img src ="Assets\images\.jpg" alt="demo">
              <h4>Project 1 description</h4>
           </div>
           <div class="col-sm" >
              <h1 style="color: #fff;">Project 2</h1>
              <img src ="Assets\images\.jpg" alt="demo">
              <h4>Project 2 description</h4>
           </div>
           <div class="col-sm">
              <h1 style="color: #fff;">Project 3</h1>
              <img src ="Assets\images\.jpg" alt="demo">
              <h4>Project 3 description</h4>
           </div>
        </div>
     
     </div>

<%-include ("../_partial/_footer.ejs")%>