<%-include ("../_partial/_header.ejs")%>

    <h1>Welcome to The Services page <img src="Assets\Images\logo.png" alt="logo" style="width:50px;height:50px;"></h1>
    <h5>If you need our services, you can go through the list below:</h5>

    <div class="containerServices">
        <div>
            <table>
                <tr>
                    <th><i class="material-icons" style="font-size:60px;color:#fff;">computer</i></th>
                    <th><i class="material-icons" style="font-size:60px;color:#fff;">sports_esports</i></th>
                    <th><i class="material-icons" style="font-size:60px;color:#fff;">code</i></th>
                </tr>
                <tr>
                    <td style="font-weight:bold">Programming</td>
                    <td style="font-weight:bold">Gaming</td>
                    <td style="font-weight:bold">Websites</td>
                </tr>
                <tr>
                    <td>I am comfortable coding in object <br>oriented programming languages,<br>Such as C# and Java.</td>
                    <td>Developing gaming applications is <br>something I have done in the past <br>and would love to work on again</td>
                    <td>I can make websites for your needs, <br>you can see examples of some of my<br> work on the projects page</td>
                </tr>
                
            </table>
        </div>


    </div>

    <%-include ("../_partial/_footer.ejs")%>